@model List<Users>

@{
    ViewData["Title"] = "UserList";
}



<h1>Users</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Make a new User
    </a>
</div>


<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Location</th>
            <th>Type</th>
            <th style="width: 200px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Users users in Model)
        {
            <tr>
                <td>@users.FirstName</td>
                <td>@users.LastName</td>
                <td>@users.Email</td>
                <td>@users.PhoneNumber</td>
                <td>@users.Location</td>
                <td>@users.Type</td>
                <td>
                    <a asp-controller="Ticket"
                       asp-action="Create"
                       asp-route-userId="@users.Id"
                       class="btn btn-sm btn-primary">
                        <i class="bi bi-ticket-perforated"></i> Make a new ticket
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
