@model List<Ticket>

<h1>Tickets</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>Create New Ticket
    </a>
</p>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Incident Subject</th>
            <th>Incident Type</th>
            <th>DeadLine</th>
            <th>Priority</th>
            <th>Description</th>
            <th style="width: 200px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ticket ticket in Model)
        {
            <tr>
                <td>@ticket.Date.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    @switch (ticket.Status)
                    {
                        case 0:
                        case 1:
                            <span class="badge bg-primary">Open</span>
                            break;
                        case 2:
                            <span class="badge bg-info">Resolved</span>
                            break;
                        case 3:
                            <span class="badge bg-success">Closed</span>
                            break;
                    }
                </td>
                <td>@ticket.IncidentSubject</td>
                <td>@ticket.IncidentType</td>
                <td>@(ticket.Deadline?.ToString("yyyy-MM-dd HH:mm") ?? "N/A")</td>
                <td>@ticket.Priority</td>
                <td>@ticket.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-sm btn-info">
                        <i class="bi bi-eye"></i> Details
                    </a>
                    <a asp-controller="Ticket"
                       asp-action="Update"
                       asp-route-id="@ticket.Id"
                       class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil"></i> Editing existing ticket
                    </a>
                    @if (User.IsInRole("ServiceDeskEmployee"))
                    {
                        <a asp-controller="Ticket"
                            asp-action="Delete"
                            asp-route-id="@ticket.Id"
                            class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
